@import 'tailwindcss';

@font-face {
  font-family: 'Josefin Sans';
  src: url('/fonts/JosefinSans-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 700;
  font-style: normal;
  font-display: swap;
}

@theme {
  /* Paleta Emeltec Design System */
  --color-primary: #0dafbd;
  --color-primary-container: #0899a5;
  --color-on-primary-container: #f0fafb;
  --color-secondary: #64748b;
  --color-secondary-container: #f8fafc;
  --color-background: #f0f2f5;
  --color-surface: #ffffff;
  --color-surface-container: #e2e8f0;
  --color-on-surface: #1e293b;
  --color-on-surface-variant: #64748b;
  --color-outline-variant: #e2e8f0;

  /* Fuentes */
  --font-inter: 'Inter', sans-serif;
  --font-josefin: 'Josefin Sans', sans-serif;
}

@layer base {
  body {
    @apply bg-background font-josefin text-on-surface antialiased;
  }
}

/* Animación para Skeletons */
@keyframes skeleton-loading {
  0% {
    background-position: 200% 0;
  }

  100% {
    background-position: -200% 0;
  }
}

.skeleton {
  background: linear-gradient(90deg, #f0f4f8 25%, #e2e8f0 50%, #f0f4f8 75%);
  background-size: 200% 100%;
  animation: skeleton-loading 1.5s infinite linear;
}
